<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ambient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17829AF81F0B29D100DB54AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17829B0C1F0B29D200DB54AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17829B171F0B29D200DB54AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
